<!-- <div class='container'>
  <div id='singleList' class='row'>
    <div class='col s12'>
      <h6>list.title</h6>
      <span>list.user_email</span>
      <i class='bookmark fa fa-star'></i>
    </div>
    <div id='restaurants' class='col s12'></div>
  </div>
</div> -->